﻿@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";

    // If the editor has not explicitly provided the "Page title" property page 
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;    
}
<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            <div class="9u skel-cell-mainContent">
                <div class="content content-left">
                    <!-- Content -->
                    <article class="is-page-content">
                        <header>
                            <h2>@pageTitle</h2>
                        </header>
                        <section>
                       <form>
                           <label>
                               Search
                               <input type="text" name="search" />
                               <button>GOGOGOG</button>
                           </label>
                       </form>

                           @Umbraco.RenderMacro("Search")
                        </section>                           
                    </article>
                    <!-- /Content -->
                </div>
            </div>
           
    </div>
</div>
<!-- /Main -->